* {
    box-sizing: border-box;
}

body {
    margin: 0px; padding: 0px;
    overflow: hidden;
}

game *{
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

background {
    width: 100vw; height: 100vh;
    z-index: -2;
    background-color: rgb(22, 22, 33); 
    background-repeat: repeat;
}

bullet-component {
    width: 113px; height: 66px;
}

.bullet {
    background-color: white;
    height: 10vh;
    min-height: 40px;
    width: 10vh;
    min-width: 40px;
    border-radius: 100px;
    transition: box-shadow 0.2s ease, 
                background-color 0.2s ease;
    box-shadow: 0 0 30px 1px #3c00ff;
}

message {
    color: white;
    margin: 0px;
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 10px;
}

#menu {
    display: flex;
    justify-content: center;
    padding: 25px;
    flex-direction: column;
    height: fit-content; 
    width: fit-content; 
    background: white;
    border-radius: 8px;
    align-items: center;
}

#menu-container {
    height: 100vh; 
    width: 100vw; 
    z-index: 2; 
    position: absolute; 
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.title {
    font-size: 24px; 
    text-align: center;
}

.button {
    background: black;
    border-radius: 8px;
    color: white;
    &:hover {
        filter: brightness(50%);
    }

    &.--start {
        width: 100%;
        padding: 20px;
        font-size: 24px;
        height: 2em;
        background-color: rgb(0, 61, 0);
        line-height: 0;
    }
    &.--instructions {
        padding: 20px;
        font-size: 20px;
        height: 2em;
        line-height: 0;
    }
    &.--credits {
        width: 100%;
        padding: 20px;
        font-size: 20px;
        height: 2em;
        line-height: 0;
    }
    &.--pause {
        padding: 8px;
        font-size: 14px;
        position: absolute;
        top: 1.5em;
    }
}

.pause-menu {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius:8px; 
    background-color: white; 
    align-items: center;
    height: fit-content; 
    width: 50%;
    max-width: 430px;
    z-index: 1; 
    color: white;

    h2 {
        color: black;
        width: 100%;
        padding: 0 20px 0 20px;
        margin-bottom: 0;
    }
    
    p {
        margin-top: 0;
        color: black;
        padding: 20px;
    }
    
    button {
        background: black;
        border-radius: 8px;
        color: white;
        padding: 20px;
        font-size: 24px;
        height: 2em;
        line-height: 0;
        width: 220px;
        
        &:hover {
            filter: brightness(50%);
        }
    }
    
    .stop {
        background: rgb(109, 1, 1);
    }
    @media (max-width: 480px){
        width: 80%;
    }
    
    @media (max-width: 400px){
        button {
            padding: 0;
            width: 120px;
        }
        h2 {
            font-size: 20px;
        }

    }
}

h2 {
    width: 30vw;
}

.song-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    width: 40vw;
    opacity: 0%;
    transform: translate(-100%, -100%);
    color: white;
    transition: 1s;
    &.--artist {
        position: relative;
        transform: translate(0,0);
    }
    &.--title {
        margin-bottom: 0;
        position: relative;  
        font-size: 60px;
        transform: translate(0,0);
    }
    @media (max-width: 800px){
        
        &.--artist {
            font-size: 20px;   
        }
        &.--title {
            font-size: 40px;   
        }
    }
}