* {
    box-sizing: border-box;
}

body {
    margin: 0px; padding: 0px;
    overflow: hidden;
}

game *{
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

background {
    width: 100vw; height: 100vh;
    z-index: -2;
    /* background-image: url(../images/sea.png); */
    background-color: rgb(22, 22, 33); 
    background-repeat: repeat;
}

ship-component {
    width: 113px; height: 66px;
    /* background-image: url(../images/ship4.png);  */
}

captain-component {
    width: 32px; height: 38px;
    background-image: url(../images/emote_sleeps.png); 
}

messageboard-component {
    width: 450px; height: 550px;
    background-color: grey;
    overflow: hidden;
    top: 10px; right: 10px;
    display: none;
}

messageboard-component * {
    position: relative;
    /* display: inline-block; */
}
messageboard-component span {
    display: inline-block;
}

message {
    color: white;
    margin: 0px;
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 10px;
}